<!-- templates/ingresar-sorteo.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ingresar Sorteo</title>
</head>
<body>
    <div class="container mt-5">
        <h1>¡Participa en el sorteo de {{ mes_sorteo }}!</h1>
        <form id="sorteoForm">
            <button type="submit" class="btn btn-primary">Participar</button>
        </form>
        <div id="resultado" class="mt-3"></div>
    </div>

    <script>
        var puntoDeRecoleccionId = {{punto_de_recoleccion_id | tojson}}
        document.getElementById('sorteoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario por defecto

            fetch('/api/sorteo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ punto_de_recoleccion_id: puntoDeRecoleccionId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
                } else {
                    document.getElementById('resultado').innerHTML = `<div class="alert alert-success">Token: ${data.token}</div>`;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerHTML = `<div class="alert alert-danger">Error: ${error.message}</div>`;
            });
        });
    </script>
</body>
</html>
